---
import type { MateriasPorSeccion } from '@/env'
import Layout from './Layout.astro'
import List from '@/components/editor/List.astro'
import { nameToLink, secciones } from '@/lib/utils'
import Title from '@/components/editor/Title.astro'
import Title2 from '@/components/editor/Title2.astro'
import Footer from '@/components/Footer.astro'
import { getSeccionNameByLink } from '@/lib/utils'
import { materiasPorSeccion } from '@/lib/utils'

const pathname = Astro.url.pathname
const path = pathname.startsWith('/') ? pathname.substring(1, pathname.length).split('/') : pathname.split('/')
const seccionName = getSeccionNameByLink(path[0]) || ''
const seccion = materiasPorSeccion.find(s => s.title === seccionName)
const seccionIdx = secciones.findIndex(s => s.link === path[0])

const prevSeccion = secciones[seccionIdx - 1]
const nextSeccion = secciones[seccionIdx + 1]

const prev = (prevSeccion?.nombre && prevSeccion?.link) ? {
  name: prevSeccion?.nombre,
  link: prevSeccion?.link
} : {
  name: secciones.at(-1)?.nombre,
  link: secciones.at(-1)?.link
}

const next = (nextSeccion?.nombre && nextSeccion?.link) ? {
  name: nextSeccion?.nombre,
  link: nextSeccion?.link 
} : {
  name: secciones[0]?.nombre,
  link: secciones[0]?.link
}
---

<Layout title={seccionName}>
  <Title>{seccionName}</Title>
  <Title2 className='mt-4'>Materias</Title2>
  <List mark='dot'>
    {
      seccion?.materias.map(materia => (
        <li>
          <a
            href={`/${path[0]}/${materia.link}`}
            class='text-accent-secondary hover:text-accent-primary'
          >
            {materia.nombre}
          </a>
        </li>
      ))
    }
  </List>
  <Footer slot='footer' prev={prev} next={next} />
</Layout>